# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. VBA
5. Julia

# Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. Numpy
3. Pandas
4. Keras
5. Pytorch

| Data Science Tools |
| ------------------ |
| Tableau |
| Apache Spark |
| SAS |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [3]:
(200/60)
 # This will convert 200 minutes to hours by diving by 60.

3.3333333333333335

**# Objectives:**
- Create a jupyter file
-  Rename the jupyter file
-  list the important data science tool
-  list languages used in data science

## Author
## N.Deb